// $fontfamilythin: "Acumin Pro Condensed", Acumin Pro Condensed;
$fontfamilythin: 'oswaldextralight';
// $fontfamilythick: 'oswalddemibold';
$fontfamilythick: 'Playfair Display';
// $fontfamilybody: 'mulilight';
$fontfamilybody: 'Barlow Condensed';
$fontfamilybodythick: 'muliregular';
// $almostwhite: #f6f6f6;
$almostwhite: #dbdbdb;

$greytext: #ccc;
$gold: #cfb171;
$mainbgcolor: #999;
$plaintext: #fff;
$fonts: arial;
$iceBlue: #edf6fc;
$navcolor: #b0b0b4;
$maincolor: #555555;
$purple: #333366;
$barelythere: #f8f8f8;
$portfolioback: #f0efef;
$laravel: #636b6f;
$coral: #ff674f;
$fire: #fe0b37;

$darkdustyrose: #693f44;

///////////////////// ^Legacy
$grey9: #212529;
$grey8: #343a40;
$grey7: #495057;
$grey6: #868e96;
$grey5: #adb5bd;
$grey4: #ced4da;
$grey3: #dee2e6;
$grey2: #e9ecef;
$grey1: #f1f3f5;
$grey0: #f8f9fa;

$orange0: #fff4e6;
$orange1: #ffe8cc;
$orange2: #ffd8a8;
$orange3: #ffc078;
$orange4: #ffa94d;
$orange5: #ff922b;
$orange6: #fd7e14;
$orange7: #f76707;
$orange8: #e8590c;
$orange9: #d9480f;

$yellow0: #fff9db;
$yellow1: #fff3bf;
$yellow2: #ffec99;
$yellow3: #ffe066;
$yellow4: #ffd43b;
$yellow5: #fcc419;
$yellow6: #fab005;
$yellow7: #f59f00;
$yellow8: #f08c00;
$yellow9: #e67700;
