#artwork-page {
  @include small-only {
    height: 40rem;
  }
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  height: 130rem;
  position: relative;
  // display: none;
}
.backwhite {
  position: absolute;
  &:last-child {
    top: 99rem;
    left: 38rem;
    z-index: -3;
  }
}
#walking {
  position: absolute;
  top: 15rem;
  left: 10rem;
  height: 24rem;
  width: 11rem;
  background-size: 43.3rem;
  overflow: hidden;
  background-image: url(../../images/art_walking.jpg);
  background-position: -9rem 10rem;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @include medium-up {
    position: absolute;
    top: 18rem;
    left: 58rem;
    height: 38rem;
    width: 14rem;
    background-size: 42.3rem;
    background-position: 80%;
  }
}
#ashley {
  position: absolute;
  top: 2rem;
  left: 3rem;
  height: 8.4rem;
  width: 14rem;
  overflow: hidden;
  background-image: url(../../images/art_ashley.jpg);
  background-position: -14rem -5rem;
  background-size: 52rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include medium-up {
    position: absolute;
    top: 7rem;
    left: 16rem;
    height: 18rem;
    width: 32rem;
    background-position: 2rem 5rem;
    background-size: contain;
  }
}

#christine {
  @include small-only {
    display: none;
  }
  position: absolute;
  top: 600px;
  left: 150px;
  height: 223px;
  width: 483px;
  overflow: hidden;
  background-image: url(../../images/art_christine.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#purpleDress {
  @include small-only {
    display: none;
  }
  position: absolute;
  top: 62rem;
  left: 42rem;
  height: 42rem;
  width: 42rem;
  overflow: hidden;
  background-image: url(../../images/art_purpleDress.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#profile {
  @include small-only {
    display: none;
  }
  position: absolute;
  top: 80rem;
  left: 9rem;
  height: 50rem;
  width: 29rem;
  overflow: hidden;
  background-image: url(../../images/art_profile.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#greenDress {
  @include small-only {
    display: none;
  }
  position: absolute;
  top: 2000px;
  left: 950px;
  height: 1427px;
  width: 281px;
  overflow: hidden;
  background-image: url(../../images/art_greenDress.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#rect1 {
  @include small-only {
    width: 34rem;
    margin-left: 1rem;
  }
  margin-left: 2rem;
  // @include large-up {
  //   margin-left: 0;
  // }
}

#rect2 {
  @include small-only {
    display: none;
  }
}

#rect3 {
  @include small-only {
    display: none;
  }
}

#name1 {
  @include small-only {
    margin-top: 3rem;
    width: 29rem;
  }
}

#name2 {
  @include small-only {
    margin-top: -23rem;
    z-index: -2;
  }
}

#name3 {
  @include small-only {
    display: none;
  }
}
